PORT=
NODE_ENV=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
JWT_SECRET=
JWT_EXPIRES_IN=
ALGOLIA_APP_ID=
ALGOLIA_API_KEY=
ALGOLIA_LISTINGS_INDEX=
ALGOLIA_PROJECTS_INDEX=
GCP_PROJECT_ID=
GCP_BUCKET_NAME=
GCP_KEY_FILE=
FIREBASE_SERVICE_ACCOUNT_PATH=
FIREBASE_SERVICE_ACCOUNT_JSON=
WHATSAPP_OFFICIAL_HOST=https://graph.facebook.com
WHATSAPP_API_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
